#editor{
    width: 800px;
    height: 600px;
    outline: 1px solid black;
}
#tools{
    width: 800px;
    height: 50px;
    background: lightgray;
}
#tools > i{
    display: inline-block;
    width: 25px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
}
#tools > i:hover{
    color: whitesmoke;
}
#content{
    width: 800px;
    height: 550px;
    outline: 1px solid gray;
}