html,body{
    margin: 0;
    padding: 0;
    background: #CDCDCD;
    font-family: 'Microsoft YaHei', 'Arial Narrow', Arial, sans-serif;
}
header{
    width: 100vw;
    height: 50px;
    line-height: 50px;
    font-size: 35px;
    background: rgb(19, 18, 18);
    color: rgb(252, 246, 239);
}
header div{
    margin: 0 auto;
    width: 600px;
    height: 50px;
}
header div input{
    position: relative;
    transform: translate(20px,-5px);
    width: 400px;
    height: 35px;
    font-size: 25px;
    text-indent: 5px;
    border-radius: 5px;
    outline: none;
    border: none;
}

#wrap{
    margin: 0 auto;
    width: 600px;
}
h2 span{
    position: relative;
    transform: translate(470px, 0);
    display: inline-block;
    cursor: pointer;
}

ol{
    list-style-type: none;
}
li{
    position: relative;
    transform: translate(-45px,0px);
    width: 595px;
    background: rgb(252, 246, 239);
    margin: 8px 0;
    height: 30px;
    font-size: 20px;
    border-radius: 2px 0 0 2px;
    border-left: 5px solid green;
}
#done{
    color: gray;
}
#done li{
    border-left: 5px solid gray;
}
#done li input{
    color: rgb(194, 193, 193);
    background: rgb(194, 193, 193);
}
#done li .close{
    background: gray;
    color: white;
}
input{
    margin: 0 12px;
}
.checked{
    width: 25px;
    height: 25px;
    margin-top: 3px;
}
.content{
    display: inline-block;
    width: 500px;
    cursor: pointer;
    overflow: hidden;
    text-indent: 5px;
}
.close{
    display: inline-block;
    margin-left: 500px;
    transform: translate(65px,-33px);
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    border-radius: 50px;
    background: green;
    color: white;
    font-size: 24px;
}